/* Base Variables and Styles */

// 1. Colors:
// ----------

$white: #fff;
$black: #000;
$main-black: #282828;
$text-dark-grey: #7b7b7b;
$text-grey: #adadad;
$text-light-grey: #dadada;
$bg-main: #e7e7e7;
$bg-dark-grey: #3c3c3c;
$bg-grey-grad: #d9d9d9;
$bg-grey: #f0f0f0;
$bg-light-grey: #f8f8f8;
$input-grey: #eee;
$price-red: #ff3333;
$color-crimson: #DC143C;
$color-darkblue: #3c4e87;
$color-turquoise: #82d8cd;


// 2. Typography:
// --------------

//Fonts:
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
$family-pt-sans: "PT Sans";
$family-jf-sans: "Josefin Sans";

    //Font-sizes:
$font-size-xbig: 48px;
$font-size-big: 20px;
$font-size-medium: 16px;
$font-size-xmedium: 14px;
$font-size-small: 13px;
$font-size-xsmall: 12px;
$font-size-xxsmall: 10px;

// 3. Buttons and links Styles:
// -----------------

.btn {
	color: $white;
	text-align: center;
	text-decoration: none;
	transition: all 0.15s ease-in-out;

	&:hover {
		background-color: $black;
	}
}

.btn--main {
	display: inline-block;
	padding: 8px 18px;
	
	background-color: $main-black;
}

.btn--main-form {
	padding: 10px 18px;
	border: none;

	background-color: $main-black;
}

.btn--white {
	display: inline-block;
	padding: 8px 18px;
	border: 4px solid $white;

	background-color: transparent;
}

.shop-now-link {
	color: $white;
	text-decoration: none;
	transition: all 0.15s ease-in-out;

	&::after {
		display: inline-block;
		width: 4px;
		height: 4px;
		margin-bottom: 2px;
		margin-left: 5px;
		border-right: 1px solid $white;
		border-top: 1px solid $white;

		transform: rotate(45deg);
		content: "";
	}

	&:hover {
		background-color: $black;
	}
}

// 4. Base headings styles:
// ------------------------

.base-heading {
	font-size: $font-size-big;
}

.small-heading {
	font-size: $font-size-xsmall;
	font-weight: 400;
	letter-spacing: 2px;
}

// 5. Base Typography styles:
// --------------------------

.base-font {
	font-family: $family-pt-sans;
	font-weight: 700;
	font-size: $font-size-xsmall;
	color: $main-black;
}

.descr-font {
	font-family: $family-jf-sans;
	font-size: $font-size-small;
	font-weight: 400;
}


