/* Styles for "bw-box" item */

.bw-box {
	width: 570px;
	height: 580px;

	background: url(../img/photos/photo-4.jpg);

	text-align: center;
}

.bw-box__content-wrapper {
	width: inherit;
	height: inherit;
	background: rgba(40, 40, 40, 0.75);
}

.bw-box__big-btn {
	margin-top: 194px;
	margin-bottom: 36px;

	font-size: $font-size-xbig;
}

.bw-box__discount {
	margin-bottom: 26px;

	color: $white;
	font-family: $family-jf-sans;
	font-size: $font-size-medium;
}

.bw-box__small-btn {
	background: $white;

	color: $main-black;

	&:hover {
		color: $white;
	}
}