/* Styles for "cart" item */

.cart {
	width: 800px;
	height: 480px;
	padding: 30px;

	background: $white;
}

.cart__headings-container {
	display: flex;

	padding-bottom: 16px;
	margin-top: 30px;
	border-bottom: 1px solid $text-light-grey;

	color: $text-dark-grey;

	p {
		text-align: center;

		&:first-child {
			width: 250px;

			text-align: left;
		}

		&:nth-child(2) {
			width: 115px;
		}

		&:nth-child(3) {
			width: 90px;
		}

		&:nth-child(4) {
			width: 110px;
		}

		&:last-child {
			width: 125px;
			margin-left: 50px;

			text-align: left;
		}
	}
}

.cart__unit-container {
	display: flex;
	
	width: 740px;
	height: 132px;
	border-bottom: 1px solid $text-light-grey;
}

.unit__item {
	display: flex;

	width: 250px;
	height: 132px;
}

.item__img-wrapper {
	width: 70px;
	height: 70px;
	margin: auto 0;
}

.item__descr-wrapper {
	width: 180px;
	min-height: 10px;
	margin: auto 0;
	padding-left: 20px;
}

.item__heading {
	font-size: $font-size-medium;
	margin-bottom: 5px;
}

.item__price {
	margin-bottom: 12px;

	font-size: $font-size-medium;
	font-weight: 400;
}

.item__code-presence {
	display: flex;

	font-weight: 400;
}

.item__code {
	padding-right: 7px;
	border-right: 1px solid $main-black;
}

.item__presence {
	margin-left: 7px;
}

.unit__color {
	display: flex;

	width: 115px;
	height: 132px;
}

.color__descr-wrapper {
	display: flex;

	margin: auto;
}

.color__bullet {
	width: 14px;
	height: 14px;
	margin-right: 8px;
	border-radius: 50%;
}

.color--black {
	background: $black;
}

.color--crimson {
	background: $color-crimson;
}

.unit__size {
	display: flex;

	width: 90px;
	height: 132px;
}

.size__value {
	margin: auto;

	font-size: $font-size-small;
}

.unit__quality {
	display: flex;

	width: 110px;
	height: 132px;
}

.quality__select-wrapper {
	position: relative;

	margin: auto;

	&::after {
		position: absolute;
		right: 10px;
		bottom: 35%;

		display: block;
		width: 6px;
		height: 6px;
		margin-bottom: 2px;
		border-bottom: 1px solid $text-grey;
		border-left: 1px solid $text-grey;

		transform: rotate(-45deg);
		cursor: pointer;
		pointer-events: none;
		content: "";
	}
}

.quality__value {
	width: 50px;
	height: 30px;
	padding-left: 7px;
	border: none;

	background: $input-grey;
	appearance: none;
	cursor: pointer;
	
	font-size: $font-size-small;
	color: $text-dark-grey;
}

.unit__total-price {
	display: flex;
	justify-content: space-between;

	width: 125px;
	height: 132px;
	margin-left: 50px;
}

.total-price__value {
	margin: auto 0;

	font-size: $font-size-small;
}

.unit-cancel {
	margin: auto 0;
	transform: rotate(45deg);

	text-decoration: none;
	transition: all 0.15s ease-in-out;
	font-size: 26px;
	font-weight: 400;
	color: $text-grey;

	&:hover {
		color: $main-black;
	}
}

.cart__link-container {
	display: flex;
	justify-content: space-between;

	margin-top: 30px;
}

.cart__continue-link {
	margin: auto 0;

	color: $text-dark-grey;
	text-decoration: none;
	transition: all 0.15s ease-in-out;

	&::before {
		display: inline-block;
		width: 4px;
		height: 4px;
		margin-bottom: 2px;
		margin-right: 5px;
		border-left: 1px solid $text-dark-grey;
		border-top: 1px solid $text-dark-grey;

		transform: rotate(-45deg);
		content: "";
	}

	&:hover {
		color: $main-black;
	}

	&:hover::before {
		border-left: 1px solid $main-black;
		border-top: 1px solid $main-black;
	}
}
