/* Styles for "cart-promotion-first" item */

.cart-prom-1 {
	position: relative;

	width: 270px;
	height: 370px;
	padding: 40px 0;

	background: $bg-light-grey url('../img/photos/photo-1.png') no-repeat center top;

	text-align: center;
}

.cart-prom-1__heading {
	margin-bottom: 25px;
}

.cart-prom-1__cont-wrapper {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}

	