/* Styles for "cart-promotion-second" item */

.cart-prom-2 {
	position: relative;

	width: 270px;
	height: 370px;
	padding: 40px 0;

	background: $bg-light-grey url('../img/photos/photo-2.png') no-repeat 50% 55%;

	text-align: center;
}

.cart-prom-2__small-heading {
	margin-bottom: 10px;
}

.cart-prom-2__button-wrapper {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}