/* Styles for "category" item */

.category {
	width: 340px;
	height: 190px;
	padding-top: 38px;
	padding-left: 174px;

	background: $white url('../img/photos/photo-16.png') no-repeat 5%;
}

.category__btn {
	padding: 4px 10px;
	border: 4px solid $main-black;
	margin-bottom: 30px;

	font-size: $font-size-big;
	color: $main-black;

	&:hover {
		color: $white;
		background: $main-black;
	}
}

