/* Styles for "discount" item */

.discount {
	width: 400px;
	height: 360px;
	padding-top: 90px;

	background: $main-black;

	color: $white;
	text-align: center;
}

.discount__big-heading {
	margin-top: 10px;
	margin-bottom: 16px;
}

.discount__btn {
	padding: 12px 18px;
	margin-bottom: 40px;

	font-size: $font-size-small;
}