/* Styles for "inspiration" item */

.inspiration {
	width: 370px;
	height: 360px;
	padding-top: 40px;

	background: url('../img/photos/photo-17.png') no-repeat 45% bottom, linear-gradient(to right, $bg-main, $bg-light-grey);

	text-align: center;
}

.inspiration__big-heading {
	margin-top: 10px;
	margin-bottom: 25px;
}