/* Styles for "item-detail" item */

.item-detail {
	position: relative;

	width: 800px;
	height: 370px;

	background: $white;
}

.item-detail__img-wrapper {
	width: 370px;
	height: 370px;
	
	background: $bg-light-grey;
}

.item-detail__descr-wrapper {
	position: absolute;
	top: 0;
	right: 0;

	width: 430px;
	height: 370px;
	padding-left: 38px;
	padding-top: 44px;
}

.item-detail__heading-wrapper {
	display: flex;
	justify-content: space-between;

	padding-right: 40px;
}

.item-detail__heading {
	margin-bottom: 15px;
}

.item-detail__price {
	font-size: $font-size-big;
	font-weight: 400;
}

.item-detail__rating-block {
	display: flex;

	font-size: $font-size-xxsmall;
	color: $text-grey;
}

.rating-block__star-set {
	width: 100px;

	li {
		display: inline-block;
	}
}

.star--theme-half {
	background-position: -5px -57px;
}

.star--theme-full {
	background-position: -5px -18px;
}

.rating-block__score {
	margin: auto 0;
	padding-right: 5px;
	border-right: 1px solid $text-grey;
}

.rating-block__reviews {
	margin: auto 0;
	padding-left: 5px;
}

.item-detail__descr {
	margin-top: 20px;
}

.item-detail__features-block {
	display: flex;

	margin-top: 34px;
	margin-bottom: 32px;
}

.features-block__feature {
	margin-top: 34px;
	margin-right: 34px;

	&:first-child {
		margin-top: 0;
		padding-top: 34px;
		border-top: 1px solid $text-light-grey;
	}
}

.feature__heading {
	margin-bottom: 10px;

	color: $text-dark-grey;
}

.feature__value-list {

	font-size: $font-size-medium;
	color: $text-grey;

	li {
		display: inline-block;
		margin-right: 2px;
	}
}

.value--active {
	color: $main-black;
}

.feature__color {
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

.color--darkblue {
	border: 4px solid $color-darkblue;

	background: $white;
}

.color--turquoise {
	background: $color-turquoise;
}

.btn-flex-wrapper {
	display: flex;
}

.item-detail__whish-star {
	margin: auto 0;
	margin-left: 25px;
	margin-right: 10px;
}

.item-detail__add-to-wishlist {
	margin: auto 0;
	
	color: $text-dark-grey;
}