/* Styles for "items" item */

.items {
	display: flex;
	width: 1170px;
	height: 180px;
	padding: 30px 0;

	background-color: $white;
}

.items__item {
	position: relative;
	width: 308px;
	height: 120px;
	padding-left: 32px;
}

.item--border-mod {
	border-left: 1px solid $bg-grey-grad;
	border-right: 1px solid $bg-grey-grad;
}

.items__see-more {
	width: 246px;
	height: 120px;
	padding-left: 26px;
}

.item__price-wrapper {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	width: 156px;
	padding-left: 34px;

	font-size: $font-size-medium;
}

.item__current-price {
	margin-top: 5px;
	margin-bottom: 10px;

	color: $price-red;
}

.current-price--mod-1 {
	color: $main-black;
}

.item__old-price {
	font-size: $font-size-xxsmall;
	text-decoration: line-through;
	color: $text-grey;
}

.see-more {
	margin-top: 28px;
	margin-bottom: 20px;

	font-weight: 700;
}