/* Styles for "just-arrived" item */

.just-arrived {
	width: 570px;
	height: 360px;
	padding-top: 96px;
	padding-left: 328px;

	background: url('../img/photos/photo-5.png') no-repeat 5% center, linear-gradient(to right, $bg-grey-grad, $bg-grey);
}

.just-arrived__big-heading {
	margin-top: 10px;
	margin-bottom: 10px;
}

.just-arrived__btn {
	margin-top: 40px;
}