/* Styles for "limited-offer" item */

.limited-offer {
	width: 570px;
	height: 360px;
	padding-top: 76px;

	background: url('../img/photos/photo-6.jpg');

	color: $white;
}

.limited-offer__content-wrapper {
	width: 208px;
	height: 208px;
	margin-left: 292px;
	padding-left: 38px;
	padding-top: 46px;

	background: rgba(40, 40, 40, 0.90);
}

.limited-offer__big-heading {
	margin-top: 10px;
	margin-bottom: 30px;
}