/* Styles for "login-signup" item */

.login-signup {
	width: 340px;
	height: 480px;
	padding: 0 30px;
	padding-top: 26px;

	background: $white;
}

.login__heading {
	margin-bottom: 15px;

	font-size: $font-size-xmedium;
}

.login__form {
	input:not([type="checkbox"]) {
		width: 280px;
		height: 40px;
		padding-left: 20px;
		margin-bottom: 10px;
		border: none;

		background: $input-grey;
	
		font-size: $font-size-small;
		font-family: $family-jf-sans;
		color: $main-black;

		&:focus::placeholder {
			color: transparent;
		}
	}

	label {
		cursor: pointer;
	}
}

input[type="checkbox"] {
		display: none;
}

.login__remember-wrapper {
	display: flex;
	justify-content: space-between;

	margin-top: 15px;
	margin-bottom: 22px;
}

.label-remember-me::before {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	border: 1px solid $text-light-grey;

	vertical-align: middle;
	content: "";
}

input[type="checkbox"]:checked + .label-remember-me::before {
	width: 10px;
	height: 10px;
	border: 3px solid white;

	background-color: $main-black;
	box-shadow: 0 0 0 1px $main-black;
    transform: scale(1);
}

.forgot-pass {
	color: $main-black;
	text-decoration: none;
	transition: all 0.15s ease-in-out;

	&:hover {
		color: $black;
	}
}

.login__separator {
	width: 50px;
	margin-top: 32px;
	margin-bottom: 28px;
	border-top: 1px solid $text-light-grey;
}

.account-descr {
	margin-bottom: 25px;
}