/* Styles for "news-letter" item */

.news-letter {
	width: 570px;
	height: 180px;
	padding: 40px;

	background: $bg-light-grey url('../img/photos/photo-3.png') no-repeat 90% 20%;	
}

.news-letter__heading {
	margin-bottom: 5px;
}

.news-letter-form {
	margin-top: 20px;
}

.news-letter-form__mail-input {
	width: 158px;
	height: 35px;
	padding: 0 20px;

	border: none;

	font-family: $family-jf-sans;
	font-size: $font-size-xsmall;
	color: $main-black;

	&:focus::placeholder {
		color: transparent;
	}
}

.btn-subscribe {
	margin-left: -3px;
	border-left: 1px solid $black;
}