/* Styles for "single-item" item */

.single-item {
	position: relative;

	width: 340px;
	height: 540px;

	background: $white url('../img/photos/photo-15.png') no-repeat center 25%;

	text-align: center;
}

.single-item__cont-wrapper {
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);

	white-space: nowrap;
}

.single-item__big-heading {
	font-size: $font-size-medium;
}

.single-item__price {
	margin-top: 5px;
	margin-bottom: 10px;

	font-size: $font-size-medium;
	font-weight: 400;
}

.single-item__wish-star {
	position: absolute;
	top: 32px;
	right: 32px;
}