/* Styles for "slider" item */

[id="content"] {
	width: 1170px;
	margin: 20px auto 20px;
}

.slider {
	float: left;
	position: relative;
	width: 1170px;
	height: 480px;
	padding-bottom: 26px;
}

.sliderContent {
	float: left;
	position: relative;
	width: 1170px;
	height: 480px;
	clear: both;
	overflow: hidden;
}

.sliderArrows a {
	position: absolute;
	top: 50%;
	z-index: 50;

	display: block;
	width: 24px;
    height: 39px;
	text-indent: -9999px;
	outline: none;
	
	background-image: url('../img/icons/sprite.png');
}

.prev {
	background-position: -5px -116px;
	left: 52px;
}

.next {
	background-position: -5px -164px;
	right: 52px;
}

.sliderContent .item {
	position: absolute;

	width: 1170px;
	height: 480px;
	background: #fff;
}

.sliderBullets {
	position: absolute;
	bottom: 15%;
	left: 50%;
	z-index: 50;

	margin-left: -20px;
}

.sliderBullets a {
	display: block;
	float: left;
	width: 23px;
    height: 3px;
	margin-left: 6px;

	text-indent: -9999px;
	outline: none;
	
	background: url('../img/icons/sprite.png') no-repeat -5px -44px;
}

.sliderBullets .active {
	background-position: -5px -5px;
}

.sliderContent a {
	outline: none;
}

a {
	color: #fff;
}

a img {
	border: none;
}

.slider__img-wrapper {
	width: 500px;
	height: 480px;
}

.slider__info-wrapper {
	position: absolute;
	top: 0;
	right: 0;

	width: 670px;
	height: 480px;
	padding-left: 70px;
	padding-top: 135px;
}

.slider__heading {
	font-size: $font-size-xbig;
}

.slider__descr {
	margin-top: 10px;
	margin-bottom: 48px;
}