<div class="main-flex-container flex-base">
	<div class="first-flex-container flex-base">
		<div class="second-flex-container flex-base">
			{{> cart-promotion-first}}
			{{> cart-promotion-second}}
		</div>
		{{> news-letter}}
	</div>
	{{> bw-box}}
	{{> just-arrived}}
	{{> limited-offer}}
	<div class="slider-wrapper">
		{{> slider}}
	</div>
	{{> items}}
	<div class="third-flex-container flex-base">
		{{> item-detail}}
		<div class="fifth-flex-container flex-base">
			{{> inspiration}}
			{{> discount}}
		</div>
	</div>
	<div class="fourth-flex-container flex-base">
		{{> single-item}}
		{{> category}}
	</div>
	{{> cart}}
	{{> login-signup}}
</div>