<div class="bw-box base-font">
	<div class="bw-box__content-wrapper">
		<a class="bw-box__big-btn btn btn--white" href="#">SUMMER SALE</a>
		<p class="bw-box__discount">Up to 70% Off</p>
		<a class="bw-box__small-btn btn btn--main" href="#">GRAB IT NOW</a>
	</div>
</div>