<div class="cart base-font">
	<h2 class="base-heading">SHOPPING BAG</h2>
	<div class="cart__headings-container">
		<p>ITEMS</p>
		<p>COLORS</p>
		<p>SIZE</p>
		<p>QTY</p>
		<p>TOTAL</p>
	</div>
	<div class="cart__unit-container">
		<div class="unit__item">
			<div class="item__img-wrapper">
				<img src="assets/img/photos/photo-18.png">
			</div>
			<div class="item__descr-wrapper">
				<h3 class="item__heading">SOFT CUP BRA</h3>
				<p class="item__price">$14.70</p>
				<div class="item__code-presence">
					<div class="item__code">MT-216-213</div>
					<div class="item__presence">In Stock</div>
				</div>
			</div>
		</div>
		<div class="unit__color">
			<div class="color__descr-wrapper">
				<div class="color__bullet color--black"></div>
				BLACK
			</div>
		</div>
		<div class="unit__size">
			<div class="size__value">32 A</div>
		</div>
		<div class="unit__quality">
			<div class="quality__select-wrapper">
				<select class="quality__value base-font">
					<option value="1">1</option>
					<option value="2" selected>2</option>
					<option value="3">3</option>
				</select>
			</div>
		</div>
		<div class="unit__total-price">
			<div class="total-price__value">$29.80</div>
			<a class="unit-cancel" href="#">+</a>
		</div>
	</div>
	<div class="cart__unit-container">
		<div class="unit__item">
			<div class="item__img-wrapper">
				<img src="assets/img/photos/photo-19.png">
			</div>
			<div class="item__descr-wrapper">
				<h3 class="item__heading">RIBBED CROP CAMI</h3>
				<p class="item__price">$14.70</p>
				<div class="item__code-presence">
					<div class="item__code">MT-216-213</div>
					<div class="item__presence">In Stock</div>
				</div>
			</div>
		</div>
		<div class="unit__color">
			<div class="color__descr-wrapper">
				<div class="color__bullet color--crimson"></div>
				CRIMSON
			</div>
		</div>
		<div class="unit__size">
			<div class="size__value">M</div>
		</div>
		<div class="unit__quality">
			<div class="quality__select-wrapper">
				<select class="quality__value base-font">
					<option value="1">1</option>
					<option value="2" selected>2</option>
					<option value="3">3</option>
				</select>
			</div>
		</div>
		<div class="unit__total-price">
			<div class="total-price__value">$29.80</div>
			<a class="unit-cancel" href="#">+</a>
		</div>
	</div>
	<div class="cart__link-container">
		<a class="cart__continue-link" href="#">Continue Shopping</a>
		<button class="btn btn--main-form">PROCEED TO CHECKOUT</button>
	</div>
</div>