<div class="cart-prom-1 base-font">
	<div class="cart-prom-1__cont-wrapper">
		<h2 class="cart-prom-1__heading base-heading">HEELS<br>ONLY $20</h2>
		<a class="btn btn--main" href="#">SHOP NOW</a>
	</div>
</div>