<div class="cart-prom-2 base-font">
	<h3 class="cart-prom-2__small-heading small-heading">LIMITED TIME</h3>
	<h2 class="base-heading">STRAW HAT<br>ONLY $10</h2>
	<div class="cart-prom-2__button-wrapper">
		<a class="btn btn--main" href="#">SHOP NOW</a>
	</div>
</div>