<div class="discount base-font">
	<h3 class="small-heading">LAST DAY</h3>
	<h2 class="discount__big-heading base-heading">FREE SHIPPING ON $25*</h2>
	<a class="discount__btn btn btn--white" href="#">Use code J56S3X</a><br>
	<a class="shop-now-link" href="#">SHOP NOW</a>
</div>