<div class="inspiration base-font">
	<h3 class="small-heading">INSPIRATION</h3>
	<h2 class="inspiration__big-heading base-heading">50 SUMMER ESSENTIALS</h2>
	<a class="btn btn--main" href="#">TAKE A PEEK</a>
</div>