<div class="item-detail base-font">
	<div class="item-detail__img-wrapper">
		<img src="assets/img/photos/photo-14.png">
		<div class="item-detail__descr-wrapper">
			<div class="item-detail__heading-wrapper">
				<h2 class="item-detail__heading base-heading">SOFT CUP TRIANGLE BRA</h2>
				<div class="item-detail__price">$14.70</div>
			</div>
			<div class="item-detail__rating-block">
				<ul class="rating-block__star-set">
					<li><i class="sprite sprite-star star--theme-full"></i></li>
					<li><i class="sprite sprite-star star--theme-full"></i></li>
					<li><i class="sprite sprite-star star--theme-full"></i></li>
					<li><i class="sprite sprite-star star--theme-half"></i></li>
					<li><i class="sprite sprite-star"></i></li>
				</ul>
				<div class="rating-block__score">4.5</div>
				<div class="rating-block__reviews">32 REVIEWS</div>
			</div>
			<p class="item-detail__descr descr-font">Summer is the best time to stock up on lightweight bras keep cool.<br>If you relaxing at home slip on a triangle bra.</p>
			<div class="item-detail__features-block">
				<div class="features-block__feature">
					<p class="feature__heading">COLORS</p>
					<ul class="feature__value-list">
						<li><div class="feature__color color--darkblue"></div></li>
						<li><div class="feature__color color--turquoise"></div></li>
					</ul>
				</div>
				<div class="features-block__feature">
					<p class="feature__heading">CUP SIZE</p>
					<ul class="feature__value-list">
						<li class="value--active">A</li>
						<li>B</li>
						<li>C</li>
						<li>D</li>
						<li>DD</li>
					</ul>
				</div>
				<div class="features-block__feature">
					<p class="feature__heading">BAND SIZE</p>
					<ul class="feature__value-list">
						<li class="value--active">32</li>
						<li>34</li>
						<li>36</li>
						<li>38</li>
						<li>40</li>
					</ul>
				</div>
			</div>
			<div class="btn-flex-wrapper">
				<a class="btn btn--main" href="#">ADD TO BAG</a>
				<i class="item-detail__whish-star sprite sprite-small-heart"></i>
				<p class="item-detail__add-to-wishlist">ADD TO WISHLIST</p>
			</div>
		</div>
	</div>
</div>