<div class="items base-font">
	<div class="items__item">
		<img src="assets/img/photos/photo-11.png">
		<div class="item__price-wrapper">
			<p>BOTTOMS</p>
			<p class="item__current-price">$14.70</p>
			<p class="item__old-price">$17.40</p>
		</div>
	</div>
	<div class="items__item item--border-mod">
		<img src="assets/img/photos/photo-12.png">
		<div class="item__price-wrapper">
			<p>PUSH UP BRA</p>
			<p class="item__current-price current-price--mod-1">$14.70</p>
		</div>
	</div>
	<div class="items__item">
		<img src="assets/img/photos/photo-13.png">
		<div class="item__price-wrapper">
			<p>PETITE SHORT</p>
			<p class="item__current-price">$14.70</p>
			<p class="item__old-price">$17.40</p>
		</div>
	</div>
	<div class="items__see-more">
		<p class="see-more descr-font">See more we recommend</p>
		<a class="btn btn--main" href="#">SHOP NOW</a>
	</div>
</div>