<div class="just-arrived base-font">
	<h3 class="small-heading">JUST ARRIVED</h3>
	<h2 class="just-arrived__big-heading base-heading">SUMMER ESSENTIAL</h2>
	<p class="descr-font">Capture the last moment<br>of summer with us</p>
	<a class="just-arrived__btn btn btn--main" href="#">GET IT NOW</a>
</div>