<div class="limited-offer base-font">
	<div class="limited-offer__content-wrapper">
		<h3 class="small-heading">LIMITED OFFER</h3>
		<h2 class="limited-offer__big-heading base-heading">DRESS<br>NOW $15.90</h2>
		<a class="shop-now-link" href="#">SHOP NOW</a>
	</div>
</div>