<div class="login-signup base-font">
	<h2 class="login__heading base-heading">PLEASE LOGIN</h2>
	<form class="login__form" action="#">
		<input type="text" name="email" placeholder="Email Address">
		<input type="password" name="pass" placeholder="Password">
		<div class="login__remember-wrapper">
			<input id="remember-me" type="checkbox">
			<label class="label-remember-me" for="remember-me">Remember me</label>
			<a class="forgot-pass" href="#">Forgot your password</a>
		</div>	
		<button class="btn btn--main-form">LOGIN</button>
	</form>
	<div class="login__separator"></div>
	<h2 class="login__heading base-heading">OR ARE YOU A NEW USER?</h2>
	<p class="account-descr descr-font">Create an account to track your orders,<br>create a wishlist and more</p>
	<a class="btn btn--main" href="#">CREATE ACCOUNT</a>
</div>