<div class="news-letter base-font">
	<h2 class="news-letter__heading base-heading">SIGN UP OR NEWSLETTER</h2>
	<p class="descr-font">No junk. Just exclusive offer and latest trends</p>
	<form class="news-letter-form" action="#">
		<input class="news-letter-form__mail-input" type="text" placeholder="Enter email address">
		<button class="btn-subscribe btn btn--main-form">SUBSCRIBE</button>
	</form>
</div>