<div class="single-item base-font">
	<div class="single-item__cont-wrapper">
		<h2 class="single-item__big-heading">BLACK CREPE FLORAL PRINT</h2>
		<p class="single-item__price">$14.70</p>
		<h3 class="small-heading">NEW ARRIVAL</h3>
	</div>
	<i class="single-item__wish-star sprite sprite-heart"></i>
</div>