<div class="slider slider3 base-font">
	<div class="sliderContent">
		<div class="item">
			<div class="slider__img-wrapper">
				<img src="assets/img/photos/photo-7.jpg">
			</div>
			<div class="slider__info-wrapper">
				<h2 class="slider__heading">SUMMER HEATS</h2>
				<p class="slider__descr descr-font">The hottest styles for summer are here. Shop beach-ready<br>bikinis in your favorite fits, colors and patterns</p>
				<a class="btn btn--main" href="#">SHOP COLLECTION NOW</a>
			</div>
		</div>
		<div class="item">
			<div class="img-wrapper">
				<img src="assets/img/photos/photo-8.jpg">
			</div>
			<div class="slider__info-wrapper base-font">
				<h2 class="slider__heading">DESIGN DRESSES</h2>
				<p class="slider__descr descr-font">Shop beach-ready bikinis in your favorite fits, colors and patterns.<br>The hottest styles for summer are here</p>
				<a class="btn btn--main" href="#">SHOP COLLECTION NOW</a>
			</div>
		</div>
		<div class="item">
			<div class="slider__img-wrapper">
				<img src="assets/img/photos/photo-9.jpg">
			</div>
			<div class="slider__info-wrapper">
				<h2 class="slider__heading">BRIGHT SHIRTS</h2>
				<p class="slider__descr descr-font">The hottest styles for summer are here. Shop beach-ready<br>bikinis in your favorite fits, colors and patterns</p>
				<a class="btn btn--main" href="#">SHOP COLLECTION NOW</a>
			</div>
		</div>
		<div class="item">
			<div class="img-wrapper">
				<img src="assets/img/photos/photo-10.jpg">
			</div>
			<div class="slider__info-wrapper base-font">
				<h2 class="slider__heading">CHARMING UNDERWEAR</h2>
				<p class="slider__descr descr-font">Shop beach-ready bikinis in your favorite fits, colors and patterns.<br>The hottest styles for summer are here</p>
				<a class="btn btn--main" href="#">SHOP COLLECTION NOW</a>
			</div>
		</div>
	</div>
</div>