/* Styles for demo-presentation */

body {
	background-color: $bg-main;
}

.flex-base {
	display: flex;
	justify-content: space-between;
}

.main-flex-container {
	flex-wrap: wrap;
	
	width: 1170px;
	margin: 0 auto;
	padding: 30px 0;
}

.first-flex-container {
	flex-direction: column;

	width: 570px;
	height: 580px;
	margin-bottom: 30px;
}

.second-flex-container {
	width: 570px;
	height: 370px;
}

.slider-wrapper {
	margin: 30px 0;
}

.third-flex-container {
	flex-direction: column;

	width: 800px;
	height: 760px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.fourth-flex-container {
	flex-direction: column;

	width: 340px;
	height: 760px;
	margin-top: 30px;
}

.fifth-flex-container {
	width: 800px;
	height: 360px;
}

