/* Styles for sprite icons */

.sprite {
    background-image: url('../img/icons/sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-active-bullet {
    width: 23px;
    height: 3px;
    background-position: -5px -5px;
}

.sprite-active-star {
    width: 16px;
    height: 16px;
    background-position: -5px -18px;
}

.sprite-bullet {
    width: 23px;
    height: 3px;
    background-position: -5px -44px;
}

.sprite-half-star {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
}

.sprite-heart {
    width: 24px;
    height: 23px;
    background-position: -5px -83px;
}

.sprite-left-arrow {
    width: 24px;
    height: 38px;
    background-position: -5px -116px;
}

.sprite-right-arrow {
    width: 24px;
    height: 39px;
    background-position: -5px -164px;
}

.sprite-small-heart {
    width: 16px;
    height: 15px;
    background-position: -5px -213px;
}

.sprite-star {
    width: 16px;
    height: 16px;
    background-position: -5px -238px;
}