<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  <title>UI-kit</title>
	  <link rel="stylesheet" href="assets/css/demo.css">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="assets/js/mobilyslider.js" type="text/javascript"></script>
		<script src="assets/js/init.js" type="text/javascript"></script>
  </head>
  <body>
  	{{> body}}
  </body>
</html>